@font-face {
  font-family: intelone-mono-font-family-regular;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/intelone-mono-font-family-regular.woff2)
    format("woff2");
  font-weight: 400;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: IAMAPLAYER;
  src: url(https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2)
    format("woff2");
  font-weight: 400;
  font-style: normal;
}
.thumb {
  opacity: 0;
  width: 0;
  height: 0;
}
@property --rotate {
  syntax: "<angle>";
  initial-value: 132deg;
  inherits: false;
}
:root {
  --card-height: 65vh;
  --card-width: calc(var(--card-height) / 1.5);
}
body {
  background-color: #000;
}
.wrap {
  position: relative;
  max-width: 750px;
  margin: 0 auto;
  height: 100vh;
  background: center 0 / cover no-repeat url(images/bg.jpg);
  overflow: hidden;
  text-align: center;
  animation: thunder 1.5s ease-in-out 0.3s forwards;
}
.wrap .envelope {
  width: auto;
  max-width: none;
  height: 100vh;
  background: center/cover no-repeat url(images/env.jpg);
  opacity: 0;
  -webkit-animation: opacity2 5s ease-in-out 3s forwards;
  animation: opacity2 5s ease-in-out 3s forwards;
}
.wrap .envelope::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(transparent),
    color-stop(40%, #000),
    color-stop(60%, #000),
    to(transparent)
  );
  background: linear-gradient(
    transparent 0%,
    #000 40%,
    #000 60%,
    transparent 100%
  );
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-animation: opacity2 2s ease-in-out 9s forwards;
  animation: opacity2 2s ease-in-out 9s forwards;
}
.wrap .envelope .dialog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.wrap .envelope .dialog > * {
  position: relative;
  z-index: 5;
}
.wrap .envelope .dialog-text {
  width: 100%;
  color: #fff;
  font-family: intelone-mono-font-family-regular, sans-serif;
  font-size: clamp(12.8px, 0px + 4vw, 30px);
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.wrap .envelope .dialog-card {
  width: clamp(221.8666666667px, 0px + 69.3333333333vw, 520px);
  height: clamp(310.6133333333px, 0px + 97.0666666667vw, 728px);
  padding: clamp(1.7066666667px, 0px + 0.5333333333vw, 4px);
  position: relative;
  -webkit-animation: opacity2 10s ease-in-out 27s forwards;
  animation: opacity2 10s ease-in-out 27s forwards;
  opacity: 0;
}
/* .wrap .envelope .dialog-card .member-card {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 1;
  border-radius: clamp(5.9733333333px, 0px + 1.8666666667vw, 14px);
}
.wrap .envelope .dialog-card .member-card::after {
  content: "";
  font-size: clamp(12.8px, 0px + 4vw, 30px);
  color: #fff;
  position: absolute;
  bottom: clamp(12.8px, 0px + 4vw, 30px);
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 2;
} */
.wrap .envelope .dialog-card .member-card {
  width: 100%;
  height: 100%;
  background: center/100%
    url(https://image.sivillage.com/design/image/2023/07/20230717-Prm-brioni-brand-bg-2x.jpg);
  position: relative;
  z-index: 1;
  border-radius: clamp(5.9733333333px, 0px + 1.8666666667vw, 14px);
  overflow: hidden;
}
.wrap .envelope .dialog-card .member-card::after {
  content: "NIKI";
  width: 100%;
  height: clamp(42.6666666667px, 0px + 13.3333333333vw, 100px);
  font-size: clamp(16.2133333333px, 0px + 5.0666666667vw, 38px);
  font-family: IAMAPLAYER, sans-serif;
  color: #fae475;
  line-height: clamp(42.6666666667px, 0px + 13.3333333333vw, 100px);
  letter-spacing: 2px;
  background-color: #000;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
.wrap .envelope .dialog-card::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: clamp(6.8266666667px, 0px + 2.1333333333vw, 16px);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--rotate)),
    color-stop(#fae475),
    color-stop(43%, #e1ad26),
    to(#fffbe4)
  );
  background-image: linear-gradient(
    var(--rotate),
    #fae475,
    #e1ad26 43%,
    #fffbe4
  );
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  -webkit-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
  opacity: 0.6;
}

.wrap .envelope .dialog-card .member-card.DfuVr {
  background: center/100% no-repeat url(images/jw.jpg);
}
.wrap .envelope .dialog-card .member-card.DfuVr::after {
  content: "JUNGWON";
}
.wrap .envelope .dialog-card .member-card.oxTQw {
  background: center/100% no-repeat url(images/hs.jpg);
}
.wrap .envelope .dialog-card .member-card.oxTQw::after {
  content: "HEESEUNG";
}
.wrap .envelope .dialog-card .member-card.ZG5Px {
  background: center/100% no-repeat url(images/js.jpg);
}
.wrap .envelope .dialog-card .member-card.ZG5Px::after {
  content: "JAY";
}
.wrap .envelope .dialog-card .member-card.UJx2n {
  background: center/100% no-repeat url(images/jk.jpg);
}
.wrap .envelope .dialog-card .member-card.UJx2n::after {
  content: "JAKE";
}
.wrap .envelope .dialog-card .member-card.DCMx7 {
  background: center/100% no-repeat url(images/sh.jpg);
}
.wrap .envelope .dialog-card .member-card.DCMx7::after {
  content: "SUNGHOON";
}
.wrap .envelope .dialog-card .member-card.jHKPx {
  background: center/100% no-repeat url(images/sn.jpg);
}
.wrap .envelope .dialog-card .member-card.jHKPx::after {
  content: "SUNOO";
}
.wrap .envelope .dialog-card .member-card.l1wc1 {
  background: center/100% no-repeat url(images/nk.jpg);
}
.wrap .envelope .dialog-card .member-card.l1wc1::after {
  content: "NIKI";
}
.wrap .envelope .dialog-card::before {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: clamp(6.8266666667px, 0px + 2.1333333333vw, 16px);
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(var(--rotate)),
    color-stop(#fae475),
    color-stop(43%, #e1ad26),
    to(#fffbe4)
  );
  background-image: linear-gradient(
    var(--rotate),
    #fae475,
    #e1ad26 43%,
    #fffbe4
  );
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  -webkit-animation: spin 2.5s linear infinite;
  animation: spin 2.5s linear infinite;
  opacity: 0.8;
}
.wrap .envelope .text01 {
  -webkit-animation: opacity 5s ease-in-out 11s forwards;
  animation: opacity 5s ease-in-out 11s forwards;
}
.wrap .envelope .text02 {
  -webkit-animation: opacity 9s ease-in-out 17s forwards;
  animation: opacity 9s ease-in-out 17s forwards;
}
.wrap .envelope .text03 {
  -webkit-animation: opacity2 5s ease-in-out 11s forwards;
  animation: opacity2 5s ease-in-out 11s forwards;
}
@-webkit-keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@keyframes spin {
  0% {
    --rotate: 0deg;
  }
  100% {
    --rotate: 360deg;
  }
}
@-webkit-keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes opacity {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes opacity2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes thunder {
  0% {
    background-position-x: center;
  }

  100% {
    background-position-x: 52%;
  }
}
@keyframes thunder {
  0% {
    background-position-x: center;
  }

  100% {
    background-position-x: 52%;
  }
}
